<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>140047509817-2ciaook2qo3br71ht3bogp83qqrcct6l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ39mFn-5lK_zK7OdDEhJIAi43K628LE8</string>
	<key>GCM_SENDER_ID</key>
	<string>140047509817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chitChat</string>
	<key>PROJECT_ID</key>
	<string>bachelorexp1</string>
	<key>STORAGE_BUCKET</key>
	<string>bachelorexp1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140047509817:ios:248c2d42aade70d9c7a0e8</string>
	<key>DATABASE_URL</key>
	<string>https://bachelorexp1.firebaseio.com</string>
</dict>
</plist>